#  Iterator numpy array using nditer

In [1]:
import numpy as np

In [21]:
a = np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [22]:
for row in a:
    print(row)

[0 1 2 3]
[4 5 6 7]
[ 8  9 10 11]

In [23]:
for row in a:
    for cell in row:
        print(cell)

0
1
2
3
4
5
6
7
8
9
10
11

In [24]:
# for row in a:
#     for cell in row:
#         print(cell)
# Or
for cell in a.flatten():
    print(cell)

0
1
2
3
4
5
6
7
8
9
10
11

In [25]:
for x in np.nditer(a,order='C'): # here 'C' order means row by row element access 
    print(x)                      # and Fortran order mean column by column

0
1
2
3
4
5
6
7
8
9
10
11

In [26]:
for x in np.nditer(a,order='F'):      #Fortran order
    print(x)

0
4
8
1
5
9
2
6
10
3
7
11

In [27]:
for x in np.nditer(a,order='F',flags=['external_loop']):  # print entire value column by column
    print(x)

[0 4 8]
[1 5 9]
[ 2  6 10]
[ 3  7 11]

In [28]:
for x in np.nditer(a,op_flags=['readwrite']):
    x[...]=x*x  #
print(a)

[[  0   1   4   9]
 [ 16  25  36  49]
 [ 64  81 100 121]]

In [29]:
b = np.arange(3,15,4).reshape(3,1)
b

array([[ 3],
       [ 7],
       [11]])

In [30]:
# iterate two arrays simultaneously
for x,y in np.nditer([a,b]):
    print(x,y)  # its possible only when they both are equals or one of them is one

0 3
1 3
4 3
9 3
16 7
25 7
36 7
49 7
64 11
81 11
100 11
121 11

In [3]:
b=np.arange(3,19,5).reshape(4,1)
print(b)

[[ 3]
 [ 8]
 [13]
 [18]]